@import url('https://fonts.google.com/specimen/Anek+Gujarati?query=anek');

* {
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
}

.header {
    background-color: #ff742b;
    padding: 6px;
    height: 65px;
}

.innerHeader{
    background-color:#ff742b;
}


.logoimg {
    height: 35px;
    margin: 7px 0px 0px -34px;
}

.title1 {
    float: left;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 20px;
    margin: -40px 0px 0px 33px;
}

.title2 {
    float: left;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 20px;
    margin: -22px 0px 0px 33px;
}

.searchIcon {
    height: 30px;
    width: 30px;
    margin: -15px 10px 0px -13px ;
    color:#ff742b;
}

.sIconBackground{
    background-color: white;
    width: 30px;
    height: 3px;
    padding: 23px;
    margin: -43px -20px 0px 5px;
    float: left;
}

.searchContainer {
    width: 1510px;
    height: 43px;
    margin: -43px 0px 0px 180px;
}


.searchContainer input[type=text] {
    padding: 4px;
    height: 46px;
    width: 90%;
    font-size: 17px;
    border: none;
    font-family: 'Anek Gujarati', sans-serif;
  }
  
.searchInput input[type="text"]:focus {
    outline : none;
}
.settingIcon {
    float: right;
    height: 25.4px;
    margin: -34px 37px 0px 0px;
}

.settingWord {
    float: right;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 19px;
    font-weight: 200;
    margin: -32px -20px 0px 0px;
}

.Footer_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 4px 8px 24px;
  color: inherit;
  font-family: inherit;
}
.Footer_list li {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding: 4px;
}
.Footer_list a {
  background-color: transparent;
  text-decoration: none;
}